<div class="inspections-scroll-wrapper">
<table class="inspections">
  <thead>
    <tr>
      <th style="width: calc(150px + 1.2rem)">Image</th>
      <th>Serial/Asset</th>
      <th>Description</th>
      <th>Location</th>
      <th>Last Inspection</th>
      <th>Next Due</th>
      <th>Result</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% inspections.each do |inspection| %>
      <tr>
        <td>
          <% if inspection.image.attached? %>
            <%= link_to display_image(inspection.image, :thumbnail), inspection_path(inspection) %>
          <% else %>
            <small>No image</small>
          <% end %>
        </td>
        <td><%= inspection.serial %></td>
        <td><%= inspection.description %></td>
        <td><%= inspection.location %></td>
        <td><%= inspection.inspection_date&.strftime('%d/%m/%Y') %></td>
        <td><%= inspection.reinspection_date&.strftime('%d/%m/%Y') %></td>
        <td>
          <% if inspection.passed %>
            <mark>PASS</mark>
          <% else %>
            <mark style="background-color:#f2dede;color:#a94442;">FAIL</mark>
          <% end %>
        </td>
        <td>
          <%= link_to inspection_path(inspection) do %><strong>View</strong><% end %>
          <%= link_to edit_inspection_path(inspection) do %><em>Edit</em><% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
